<div class="card-body">
  <h4 class="card-title card-header">{{title}}</h4>
  <ul class="list-group">
    {{#data}}
      <li class='list-group-item'>
        <div class='row'>
          <div class='col-2'>
            {{period}}
          </div>
          <div class='col-10'>
            {{school}}
            <br />
            {{#course}}
              kierunek: {{course}};
            {{/course}}
            specjalizacja: {{spec}}
            <p class='work-title'>
              {{degree}}
            </p>
          </div>
        </div>
      </li>
    {{/data}}
  </ul>
</div>
